.DS_Store
players/domohnoes/FSDomohnoesPlayer/FSDomohnoesPlayer.suo
players/domohnoes/FSDomohnoesPlayer/BigPipper/bin
players/domohnoes/FSDomohnoesPlayer/BigPipper/obj
players/domohnoes/FSDomohnoesPlayer/Doms/bin
players/domohnoes/FSDomohnoesPlayer/Doms/obj
players/domohnoes/FSDomohnoesPlayer/FSDomohnoesPlayer/bin
players/domohnoes/FSDomohnoesPlayer/FSDomohnoesPlayer/obj
